* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-weight: 400;
  font-family: "Tele2 TextSans Web SHORT";
  src: url("./assets/fonts/tele2-textsans-web-short-regular.ttf");
}
